@page
@model IndexModel
@{
    //use asp-for to bind form elements to model
}


<form method="post">
    <div class="container">
    <h2>Password Generator</h2>
    <div class="result-container">
        <textarea asp-for="GeneratedPassword "id="PasswordResult"></textarea>
    </div>
    <div class="settings">
        <div class="setting">
            <label>Password length</label>
            <input asp-for="PasswordLength" type="number" id="Passwordlength" min="4" max="20"  />
        </div>
        <div class="setting">
            <label>Include uppercase letters</label>
            <input asp-for="IncludeUppercase" type="checkbox" id="uppercase" />
        </div>
        <div class="setting">
            <label>Include lowercase letters</label>
            <input asp-for=IncludeLowercase type="checkbox" id="lowercase" />
        </div>
        <div class="setting">
            <label>Include numbers</label>
                <input asp-for=IncludeNumbers type="checkbox" id="numbers" />
        </div>
        <div class="setting">
            <label>Include symbols</label>
                <input asp-for=IncludeSymbols type="checkbox" id="symbols" />
        </div>
    </div>
        <button type="submit" class="btn btn-large" id="generateBtn">
            <i class="fas fa-key"></i> Generate
        </button>
        <!--<button type="button" class="btn btn-large" onclick="copyToClipboard(@Model.GeneratedPassword)">
            Copy
            </button>

        <script>
            function copyToClipboard(text) {
                console.log(text);
                navigator.clipboard.writeText(text);

                // Alert the copied text
                alert("Copied the text: " + copyText.value);
            }
        </script>-->

    </div>
 </form>
