@page
@model IndexModel
@{
    //use asp-for to bind form elements to model
}

<div class="container">
    <h2>Password Generator</h2>
    <div class="result-container">
        <textarea asp-for="generatedPassword "id="PasswordResult"></textarea>
    </div>
    <div class="settings">
        <div class="setting">
            <label>Password length</label>
            <input asp-for="PasswordLength" type="number" id="Passwordlength" min="4" max="20" value="8" />
        </div>
        <div class="setting">
            <label>Include uppercase letters</label>
            <input asp-for="IncludeUppercase" type="checkbox" id="uppercase" checked />
        </div>
        <div class="setting">
            <label>Include lowercase letters</label>
            <input asp-for=IncludeLowercase type="checkbox" id="lowercase" checked />
        </div>
        <div class="setting">
            <label>Include numbers</label>
            <input type="checkbox" id="numbers" checked />
        </div>
        <div class="setting">
            <label>Include symbols</label>
            <input type="checkbox" id="symbols" checked />
        </div>
    </div>
    <div class="buttons">
        <form method="post">
            <button class="btn btn-large" id="generateBtn">
                <i class="fas fa-key"></i> Generate
            </button>
        </form>
        <button class="btn" id="clipboardBtn">
            <i class="far fa-clipboard"></i> Copy
        </button>
    </div>
</div>